<article id="100dancers"
         class="project has-video"
         style="background-image: url('/images/projects/100dancers.png');">
    
    <div class="close-button">x</div>
    
    <div class="video">
        <iframe src="https://player.vimeo.com/video/28046360" style="width: 100%; height: 500px;" frameborder="0">
          Your browser does not support iframes. See the video online at https://player.vimeo.com/video/28046360.
        </iframe>
    </div>
    
    
    <hgroup>
        <h1>100 Dancers festival</h1>
        <div>interactive projection performance</div>
    </hgroup>
    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    100 Dancers is a festival and workshop arranged annually in different locations around the
                    world. During a week a large group of dancers from around the world arrange public performances
                    around different central locations in towns. These performances are often improvised in nature
                    and unexpected for the spectators.
                </p>
                <p>
                    The dancers are accompanied by musicians, photographers, video artists and people specializing
                    in interactive installations.
                </p>
                <p>
                    Our group of four developed visuals for the Grande Finale of the 100 Dancers festival held in
                    Copenhagen on 5th August 2011. The visuals were created during the festival week on-site and
                    a large part of development was learning how we could best collaborate with the dancers. The
                    projection was shown in Christianshavn, on the largest wall Copenhagen had to offer.
                </p>
            </div>
            <div class="column last">
                <a href="http://100dancers.org" target="_blank">100dancers.org</a>
                <a href="https://vimeo.com/28046360" target="_blank">Vimeo page</a>
            </div>
        </div>

    </div>
</article>
