<article id="academic"
        class="project"
        style="background-image: url('/images/projects/academic.png');">

    <div class="close-button">x</div>

    <figure>
        <img src="/images/projects/academic_large.jpg" />
    </figure>

    <hgroup>
        <h1>Academic work</h1>
        <div>papers, articles, etc.</div>
    </hgroup>

    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <h2>Dotted Landscape (MA thesis)</h2>
                <p>
                    Master of Arts final thesis work dedicated to the design of interactive displays for
                    public locations. What are the UX challenges involved in designing public displays and
                    what methodologies can be used in design? See the dedicated project section above for more information
                    into the production portion of the work.
                </p>

                <h2>Making Existing Homes Smart (M.Sc thesis)</h2>
                <p>
                    Master of Science thesis that deals with the implementation of current smart home systems from
                    the user's perspective. Are the current projects and products something that people actually want
                    and need or are they just in the interest of the researchers themselves? What would be an ideal
                    smart home solution?
                </p>

                <h2>Reasoning in a Smart Home</h2>
                <p>
                    A short paper dealing with different artificial intelligence solutions
                    around the domain of smart homes
                </p>

                <h2>Tackling Smart Home User Requirements with Agent Based Technology</h2>
                <p>
                    A research into the suitability of agent based architectures in the
                    building of smart home systems
                    <br />
                    <br />
                    <br />
                </p>

            </div>
            <div class="column last">
                <a target="_blank" href="https://www.taik.fi/onni_new/optika/index.php?id=252">Dotted Landscape</a>
                <br />
                <a target="_blank" href="files/making_existing_homes_smart.pdf">Making Existing Homes Smart</a>
                <a target="_blank" href="files/reasoning_in_a_smart_home.pdf">Reasoning in a smart home</a>
                <a target="_blank" href="files/tackling_smart_home_user_requirements_with_agent_technology.pdf">Tacking smart home user requirements...</a>
            </div>
        </div>
    </div>
</article>
