<article id="angrybirdsspace"
        class="project has-video"
        style="background-image: url('/images/projects/angrybirds/thumb.png');">

    <div class="close-button">x</div>
    
    <div class="flexslider slideshow">
        <ul class="slides">
            <li>            
                <img src="/images/projects/angrybirds/slide1.png" style="width:100%;" />
            </li>
            <li>            
                <img src="/images/projects/angrybirds/slide2.png" style="width:100%;" />
            </li>
            <li>            
                <img src="/images/projects/angrybirds/slide3.png" style="width:100%;" />
            </li>
            <li>            
                <img src="/images/projects/angrybirds/slide4.png" style="width:100%;" />
            </li>
        </ul>
    </div>
    
    <hgroup>
        <h1>The Angry Birds Space Launch site</h1>
        <div>
            pushing web technology
            to its limits
        </div>
    </hgroup>
    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    The Angry Birds Space launch site was created by us at
                    <a href="http://whitesheep.fi" target="_blank">White Sheep Isobar</a>.
                    It promoted the new Space game of the Angry Birds series worldwide. A separate
                    Chinese site was built in addition to the English language site. Both sites
                    had a lighter mobile version that also acted as a fallback for older browsers
                    lacking proper support for the animations. The main site was also built to be
                    touch friendly working on tablets such as iPad 2 and 3.
                </p>
                <p>
                    I implemented the main site including the custom bezier-based path
                    scrolling and triggered HTML/JS/CSS3 animations.
                </p>
            </div>

            <div class="column last">
                <p>
                    <a target="_blank" href="http://space.angrybirds.com/launch/" target="_blank">VISIT THE SITE</a>
                </p>

                <p>
                    AWARDS: <br />
                    <a target="_blank" href="http://www.thefwa.com/site/angry-birds-space" target="_blank">SOTD FWA &raquo;</a>
                    <a target="_blank" href="http://www.awwwards.com/web-design-awards/angry-birds-space" target="_blank">SOTD Awwwards &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</article>
