<article class="project">
    <div class="slides">
        <figure>
            <iframe src="http://player.vimeo.com/video/13464023" width="200" height="150" frameborder="0"></iframe>
            <figcaption>Augmented Ping Pong</figcaption>
        </figure>
    </div>
    
    <hgroup>
        <h1>Augmented Ping Pong</h1>
        <div>spiced up sports</div>
    </hgroup>
    
    <div class="more-text">
        The end result of a workshop at the Media Lab. We tricked a ping 
        pong table with some sensors and a web camera accompanied by some
        custom computer vision code to change the soundscape of the game. 
        Original idea was also to add visuals on top of the ball, count
        point and so on but we ran out of time. Anyway it was fun to play
        and build!

        <br />
        <br />
        
        The team: <a href="http://juhasalonen.net">Juha Salonen</a>, 
        <a href="http://www.tunnelvision.fi/?author=5">Matti Luhtala</a>
        and me.
        
        <br />
        <br />
        Technologies used: processing, puredata, arduino, sensors
        <br />
    </div>
</article>
