<article id="jorma"
         class="project"
         style="background-image: url('/images/projects/ax_skeleton.jpg');">

    <div class="close-button">x</div>    

    <div class="flexslider slideshow">
        <ul class="slides">
            <li>            
                <img src="/images/projects/ax_skeleton/jorma1.jpg" />
            </li>
            <li>
                <img src="/images/projects/ax_skeleton/jorma2.jpg" />
            </li>
            <li>
                <img src="/images/projects/ax_skeleton/jorma3.jpg" />
            </li>
        </ul>
    </div>
    
    <hgroup>
        <h1>Jorma the Skeleton</h1>
        <div>the curious undead</div>
    </hgroup>
    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    Jorma is the mascot-like skeleton representing Levykauppa Äx. In the past he has mostly been involved with
                    <a target="_blank" href="http://www.youtube.com/watch?v=q1r1ubL5d1Q">film directing and production</a>, but
                    with <a target="_blank" href="http://nikoknappe.com/">Niko Knappe</a> we decided to help him get more
                    involved with the day to day affairs at the store.
                </p>
                <p>
                    With the help of an Arduino microcontroller, some stepmotors and wiring we gave him muscles, and
                    a custom OpenFrameworks program written in C++ gave him eyes and a brain. Now he hangs around
                    the shop following customers go about their business.
                </p>
            </div>
            <div class="column last">
                <a href="http://www.levykauppax.fi" target="_blank">Levykauppa Äx</a>
            </div>
        </div>
    </div>
</article>
