<article class="project" style="background-image: url('/images/projects/background_shuffler.png');">
    
    <div class="close-button">x</div>
    
    <figure>
        <img src="/images/projects/background_shuffler.png" />        
        <figcaption>Background Shuffler</figcaption>
    </figure>

    <hgroup>
        <h1>Background Shuffler</h1>
        <div>desktop app</div>
    </hgroup>
    
    <div class="more-text">
        A GTK-based application that automatically changes your
        background for you. And it does it really well, allowing you
        to pick images from your F-Spot collection based on tags and 
        ratings. If you loathe F-Spot you can just point BS to a 
        local folder full of images.
    
        <br />
        <br />
        
        For more info, see the 
        <a href="http://lauri.sokkelo.net/index.php?p=Background%20Shuffler">
            original blog posting
        </a>
        
    </div>
</article>
