<article    id="dottedlandscape" 
            class="project has-video" 
            style="background-image: url('/images/projects/dottedlandscape/thumb.jpg');">

    <div class="close-button">x</div>
  
    <div class="video">
        <iframe src="https://player.vimeo.com/video/47731529" style="width: 100%; height: 500px;" frameborder="0">
          Your browser does not support iframes. See the video online at https://player.vimeo.com/video/47731529.
        </iframe>
    </div>
    
    <!-- <div class="flexslider slideshow" style="width: 390px;">
        <ul class="slides">
            <li>            
                <img src="/images/projects/dottedlandscape/slide1.jpg" style="width:400px; height:400px;" />
            </li>
            <li>            
                <img src="/images/projects/dottedlandscape/slide2.jpg" style="width:400px; height:400px;" />
            </li>
            <li>            
                <img src="/images/projects/dottedlandscape/slide3.jpg" style="width:400px; height:400px;" />
            </li>
        </ul>
    </div> -->
    
    <hgroup>
        <h1>Dotted Landscape</h1>
        <div>
            Web meets electronics meets Scandinavian aesthetics - MA final production
        </div>
    </hgroup>
    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    An interactive light installation and software project.
                    The central piece is a light panel that can be controlled
                    collaboratively through a web interface.
                </p>

                <p>
                    Created as the Master of Art thesis work at the
                    <a href="http://media.aalto.fi/en/studies/programs/medialab/" target="_blank">Media Lab of Aalto University</a>.
                </p>
                <p>
                    Check the written portion focusing on the design of
                    interactive displays for public spaces
                    or dive into the freely available code.
                </p>
            </div>
            <div class="column last">
                <a target="_blank" href="http://dottedlandscape.net" target="_blank">Dedicated site</a>
                <a target="_blank" href="https://www.taik.fi/onni_new/optika/index.php?id=252">The written thesis</a>
                <a target="_blank" href="https://github.com/luopio/dottedlandscape">Code repository on github</a>
            </div>
        </div>
    </div>
</article>
