<article id="mlabbers"
        class="project"
        style="background-image: url('/images/projects/medialabbers.png');">

    <div class="close-button">x</div>

    <figure>
        <img src="/images/projects/mlabbers/2.jpg" />
    </figure>

    <!-- <div class="flexslider slideshow">
        <ul class="slides">
            <li>
                <img src="/images/projects/mlabbers/2.jpg" />
            </li>
            <li>
                <img src="/images/projects/mlabbers/3.jpg" />
            </li>
            <li>            
                <img src="/images/projects/mlabbers/1.jpg" />
            </li>
        </ul>
    </div> -->
    
    
    <hgroup>
        <h1>Medialabbers made of medialabbers</h1>
        <div>image analysis and visuals</div>
    </hgroup>
    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    To experiment with an idea, I took all the images of members
                    of <a href="http://mlab.taik.fi/">Helsinki Medialab</a> and
                    created a Python script that analyses them producing new versions
                    created by using the images of other people.
                </p>
                <p>
                    The software takes two rounds first analyzing each image individually and
                    then creating each image based on the analysis of the previous round.
                </p>

            </div>
            <div class="column last">
                <a href="/studies/graphics/coding/2008/12/19/demoday-presentation.html">Blog posting</a>
            </div>
        </div>
    </div>
</article>
