<div class="project">

    <div class="close-button">x</div>
    
    <h4>
        And more...
    </h4>
    
    <div class="tag-line">an assortment of older projects. </div>
    
    <div class="more-text">

		<div class="project">
			<h4>gDesklets</h4>

			<img src="/images/projects/gdesklets.png" style="width: 150px;"/>

			<p> 
				<a href="http://gdesklets.de">gDesklets</a> is a global
				 FOSS project that I've been a part of and for which 
				 I've done a significant amount of code around 2005. 
				 <br />
				 <br />
				 Some UI examples available 
				 <a href="pics/ui/shell2.png">here</a> and 
				 <a href="pics/ui/desklets.png">here</a> 
			</p>
		</div>					        
				    
		<div class="project">
			<h4>Pet Hotel</h4>

			<div style="float: left; text-align: center;">
			<img src="/images/projects/pethotel.png" style="float: none; width: 150px;" />
			<br />
			<a href="pics/ui/pethotel.png" style="float: none; 
			font-size: 8px; font-style: italics;">
				bigger image
			</a>
			</div>

			<p> 
				Written around the first years of the 21st century, 
				Pet Hotel is a client management system 
				written in <b>Python</b>. It uses <b>MySQL</b> 
				as the database backend and provides an easy-to-use 
				<b>GTK</b>-frontend for management. It has a 
				"double-layered-MVC-architecture" which means that it 
				can support multiple clients easily.
				<br /> <br />
				I've released it under the
				<b>GPL</b> and the application - including the source - is available 
				<a href="other/pethotel-0.8.tar.gz">here</a>.    
			</p>
		</div>
	
    </div>

</div>
