<div class="project" style="min-height: 100px;">

    <div class="close-button">x</div>
    
    <h4>
        And more...
    </h4>
    
    <div class="tag-line">a small assortment of older projects</div>
    
    <div class="more-text" style="width: 100%;">
    
    	<table class="other-projects">
			<tr />
			<td>
				<img src="/images/projects/gdesklets.png" />
				<p style="clear: both;">
					<a href="http://gdesklets.de">gDesklets</a>: coding, creator of
					main site.
					UI examples available
					<a href="pics/ui/shell2.png">here</a> and 
					<a href="pics/ui/desklets.png">here</a>
				</p>
			</td>

			<td>
				<img src="/images/projects/pethotel.png" />
				<p>
					Pethotel CMS: GTK + MySQL (GPL). 
					<a href="other/pethotel-0.8.tar.gz">Source</a> 
				</p>
			</td>
			
			<td>
				<img style="width: 200px; height: 150px;" src="/images/projects/shade-etheme.png" />
				<p>
					Theme I made for the <a href="http://www.enlightenment.org">
					Enlightenment</a> window manager (E16).
				</p>
			</td>
			
			<tr> 
			<td colspan="3" style="text-align: center">
	            For more smaller projects, see <a href="index.php?tag=release">the blog</a>
			</td>
			
		</table>
    </div>
</div>
