<article id="raflost"
        class="project"
        style="background-image: url('/images/projects/raflost.png');">

    <div class="close-button">x</div>
    
    <div class="flexslider slideshow">
        <ul class="slides">
            <li>            
                <img src="/images/projects/raflost/raflost1.jpg" style="width:100%;" />
            </li>
            <li>            
                <img src="/images/projects/raflost/raflost2.jpg" style="width:100%;" />
            </li>
        </ul>
    </div>
    
    <hgroup>
        <h1>Raflost 2009 Performance</h1>
        <div>interactive dance performance</div>
    </hgroup>

    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    An interactive performance involving dancers, electronics,
                    visuals and reactive sound environment. Displayed during the
                    Raflost festival in Reykjavik, Iceland.
                </p>
                <p>
                    Two dancers performed in front of an audience with the moon surface in the background.
                    The audience could control the level of the moon by raising and lowering a lever placed
                    between them and the dancers. In addition to affecting the visuals, this also changed the
                    soundscape.
                </p>
                <p>
                    Custom software took quick captures of the dancing motions and ran them in a loop, resulting
                    in a stop-motion-style visuals of dancers on top of the moon surface.
                </p>
            </div>
            <div class="column last">
                <a href="http://vimeo.com/12752690">short video of Raflost 2009 </a>
            </div>
        </div>

    </div>
</article>
