<article id="standinbot"
         class="project"
         style="background-image: url('/images/projects/stand_in_bot.png');">

    <div class="close-button">x</div>
        
    <div class="flexslider slideshow">
        <ul class="slides">
            <li>            
                <img src="/images/projects/stand_in_bot.png" />
            </li>
        </ul>
    </div>

    <hgroup>
        <h1>Stand In Bot</h1>
        <div>remote controlled robotics</div>
    </hgroup>
    
    <div class="more-text">
        <div class="two-columns">
            <div class="column">
                <p>
                    Stand-In-Bot was born from the desire to sleep late but not miss class.
                    It was fueled by the dream of being able to follow lectures while
                    eating breakfast and sipping coffee. From this shared vision the
                    team set out to build a rudimentary prototype in 2008.
                </p>
                <p>
                    Influenced by magnificent projects such as
                    <a href="http://www.tweenbots.com/">tweenbots</a>,
                    the design tries to keep things simple while taking advantage of the
                    great features offered by the Nokia Internet tablet technology.
                </p>
                <p>
                    The team: <a href="http://nikoknappe.com/">Niko Knappe</a>,
                    <a href="http://gokcetaskan.com/">Gökce Taskan</a> and me
                </p>

            </div>
            <div class="column last">
                <a href="http://www.writebox.net/standinbot">Dedicated site</a>
            </div>
        </div>
    </div>
</article>
