<footer>
    Lauri Kainulainen <br />
    Currently living in Helsinki, Finland <br />
    <a href="mailto:lauri.kainulainen@gmail.com">lauri.kainulainen@gmail.com</a> 
    <br />
    <a href="tel:+358407225101">+358 40 722 5101</a>
    <br />
    <br />
    Check my <a href="http://www.linkedin.com/pub/lauri-kainulainen/3/358/713">LinkedIn profile</a>
    <br />
    Clone my <a href="https://github.com/luopio">Github repos</a>
    <br />
    Follow me on <a href="https://twitter.com/laurikainulaine">Twitter</a> or - if you prefer more silence - on <a href="https://plus.google.com/105790123134512947162">G+</a>
    <br />
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</footer>