{% javascript_asset_tag global %}
- /js/libs/jquery-1.11.1.min.js
- /js/libs/jquery.masonry.min.js
- /js/libs/jquery.flexslider-min.js
- /js/libs/picturefill.js
- /js/plugins.js
- /js/script.js
{% endjavascript_asset_tag %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23620841-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

  /* jquery based scrolling */
  $(document).ready(function() {
    $('.scroll').click(function() {
      var target = $(this).attr("href");
      var destination = $(target).offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination - 20}, 800);
      return false;
    });
  });

  $(function() {
    projects.init();
    $('.flexslider').flexslider();
    coverImageHandler.init();
  });
</script>
