<section id="projects-section">
  <div style="position: relative;">
    {% include projects/angrybirds.html %}
    {% include projects/dottedlandscape.html %}
    {% include projects/100dancers.html %}
    {% include projects/archive_flow.html %}
    {% include projects/history_flow.html %}
    {% include projects/academic.html %}
    {% include projects/medialabbers.html %}
    {% include projects/penalti.html %}
    {% include projects/ax_skeleton.html %}
    {% include projects/raflost.html %}
  </div>
</section>
